.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-table {
      row-gap: 56px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: $text-button-color;
    background-color: $default-button-color;
    font-family: $font-family;

    &:hover {
      cursor: pointer;
      background-color: $hover-button-color;
    }

    &:focus {
      background-color: $pressed-button-color;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}
