.contacts {
  &__phone {
    margin-bottom: 24px;
  }

  &__email {
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: $contacts_title_color;
    margin-bottom: 8px;
    text-decoration: none;
  }

  &__info {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: $contacts-info-color;
    text-decoration: none;

    &:hover {
      color: $info-form-hover-color;
    }
  }
}
