.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/header-bg-mobile.png);

  &__title {
    margin: 0;
    color: $header-title-color;
    font-family: $font-family;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;

    @include on-table {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-table {
      padding-bottom: 64px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
