.main {
  background-color: $main-background-color;

  position: relative;
  z-index: 0;

  &__content {
    display: grid;
    row-gap: 64px;
    padding-block: 96px;

    @include on-table {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
