.product {
  margin: 0;

  &__photo {
    width: 100%;
    margin-bottom: 24px;
    transition: transform 0.3s;

    &:hover {
      @include hover(transform, scale(1.1));
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }

  &__information {
    margin: 0;
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;

    @include on-table {
      margin-bottom: 34px;
    }

    @include on-desktop {
      margin-bottom: 12px;
    }
  }

  &__price {
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
