$header-title-color: #fff;
$main-background-color: #fff;
$menu-and-button-background-color: #f9f9f9;
$third-section-back-ground-color: #fcfaef;
$default-button-color: #f98921;
$hover-button-color: #1b2129;
$pressed-button-color: #010810;
$text-button-color: #fff;
$default-text-form-color: #7e7e83;
$hover-text-form-color: #1b2129;
$contacts_title_color: #9393a3;
$contacts-info-color: #191919;
$border-form-color: #dbdbdb;
$border-form-focused-color: #f98921;
$info-form-hover-color: #f98921;
$font-family: 'Manrope', sans-serif;
$font-optical-sizing: auto;
$font-style: normal;
$font-size: 16px;
$text-color: #1b2129;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$duration-time: 0.3s;
